body {
  padding: 15px;
  background-color: #e7e7ff;
  color: #1d1d4e;
}

h1 {
  text-align: center;
}

p {
  margin: 5px;
  text-align: justify;
}

#balkep {
  float: left;
  margin-right: 15px;
  width: 200px;
}

#jobbkep {
  float: right;
  width: 400px;
  margin: 10px;
}

table {
  box-shadow: 5px 5px 7px #1d1d4e;
}

td {
  border: 1px dotted #1d1d4e;
  padding: 2px 16px 2px;
}

td:first-child {
  font-weight: bold;
  text-align: right;
}

td:nth-child(2) {
  font-style: italic;
  text-align: left;
}

.fejsor {
  text-align: center;
  background-color: #1d1d4e;
  color: #e7e7ff;
}

.forras {
  margin: 15px 75px 0px;
  padding-top: 5px;
  border-top: 1px solid #1d1d4e;
  font-style: italic;
  text-align: center;
}

img {
  box-shadow: 5px 5px 7px #1d1d4e;
  border: #1d1d4e solid 1px;
}
